/* Just copied some CSS and changed it slightly from one of the lessons this week since the styles didn't matter that much. Am aware this is a no-no, but figured it wouldn't matter for this weeks assignment. */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: grey;
  font-family: "Open Sans", sans-serif;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

h1 {
  margin-left: 1rem;
  text-align: center;
  color: lightgoldenrodyellow;
}

.container {
  margin: 0 auto;
}

.games-container {
  display: flex;
  flex-wrap: wrap;
}

.games-container {
  margin: 1rem;
  padding: 1rem;
  max-width: 100vw;
  background: white;
  border: 1px solid grey;
  border-radius: 1rem;
}

.error {
  border: 1px solid darkred;
  padding: 1rem;
  color: darkred;
  background: rgba(255, 0, 0, 0.1);
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid grey;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
